<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.TborderitemMapper" >
    <insert id="inertOrderitem" parameterType="com.taotao.pojo.Tborderitem" >
        INSERT INTO tborderitem(id, itemId, orderId, num, title, price, totalFee, picPath) VALUE (#{id},#{itemId},#{orderId},#{num},#{title},#{price},#{totalFee},#{picPath})
    </insert>
</mapper>